.input {
    border-radius: 5px;
    border-color: black;
    display: block;
    width: 400px;
    padding-left: 1rem;
    padding-right: 1rem;

}

.small {
    height: 25px;
    font-size: 1rem;
    padding-left: .5rem;
    padding-right: .5rem;
}
.regular {
    height: 40px;
    font-size: 1.5rem;
}
.large {
    height: 50px;
    font-size: 1.7rem;
}
.xlarge {
    height: 60px;
    font-size: 1.9rem;
}